@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
        padding-left: 15px;
        padding-right: 35px;
    }

}

/*PROFILE*/
@media screen and (max-width: 600px) {
    #profile {
        display: flex;
        flex-direction:column-reverse;
        justify-content: center; 
        align-items: center;   
        padding: 100px;
        height: 50vh; 
        text-align: center; 
    }

    .logo img {
        width: 60%;
        height: auto;
        padding-top: 8px;
    }

    .profile-info {
        padding-bottom: 30px;
        max-width: fit-content;
    }

    .profile-name {
        font-size: 1.27em;
        max-width: 100%;
    }

    .profile-course {
        font-size: 0.6rem;
        padding: 3px;
    }

    .profiletext {
        font-size: 0.7rem; 
        text-align: center;
        padding-top: 20px, 5px;
    }

    .btn-container {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        gap: 15px;
        width: 100%;
        margin-top: 20px;  
    }

    .btn {
        padding: 10px 25px; 
        font-size: 0.8em;   
        background-color: #050a30;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        text-align: center;
        margin-right: 0;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        margin-top: 30px; 
    }

    .icon {
        width: 20px;    
        height: 20px;  
        margin: 0 10px;
    }

    .picture-container {
        width: 100%;
        max-width: 180px; 
        margin: 18px auto; 
    }

    .picture-container img {
        width: 100%;
        border-radius: 50%;
        display: block;
    }
} 


/*  DIVIDER */
@media screen and (max-width: 600px) {
    .text-with-border {
        font-size: 0.6em; 
        gap: 3px; 
    }

    .text-with-border {
        font-size: 0.5em; 
        gap: 6px; 
    }

    .separator {
        font-size: 1em; 
    }
}

/* ABOUT ME TECHNOLOGIES*/
@media screen and (max-width: 600px) {
    .technologies {
        padding-bottom: 20px;
    }

    .techtext {
        font-size: 1.8em; 
    }

    .tech-images {
        grid-template-columns: repeat(3, 1fr); 
    }

    .tech-item img {
        width: 50px; 
    }

    .tech-item p {
        font-size: 1em; 
    }

    .tech-images {
        grid-template-columns: repeat(2, 1fr); 
    }

    .tech-item img {
        width: 35px; 
        height: 35px;
    }

    .techtext {
        font-size: 1.3em; 
    }

    .techtext p {
        font-size: 0.9em; 
    }

    .tech-item p {
        font-size: 0.8em;
    }
}

/* ABOUT ME EDUCATION AND SKILLS */
@media screen and (max-width: 600px) {

    .eandp {
        padding: 10px;
        flex-direction: column;
    }

    .skillphoto {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
    }

    .skillimage img {
        width: 50px; 
        height: 50px;
    }

    .skillimage {
        padding: 5px;

    }

    .eductext {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .educpic {
        width: 280px; 
        height: 160px;
        border-style: groove;
        border-color: white;
    }

    .education {
        padding: 20px;
    }

    .educ, .educdesc {
        font-size: 0.8em; 
        padding: 1px;
    }

    .s-text {
        font-size: 1.5em;
        padding-bottom: 5px;
    }

    .skillimage p {
        font-size: 0.9em;
    }

    .skills {
        padding: 20px;
    }
}

/* PROJECT */
@media screen and (max-width: 600px) {
    .protext {
        font-size: 2em;
    }

    .prodesc {
        font-size: 1.1em;
    }

    .allpro {
        grid-template-columns: repeat(2, 1fr); 
    }

    .protext {
        font-size: 1.6em; 
    }

    .prodesc {
        font-size: 0.8em;
    }

    .allpro {
        grid-template-columns: 1fr; 
    }

    .allpro div {
        padding: 15px; 
    }

    .probtn button {
        font-size: 0.9em;
        padding: 8px 30px;
        border-radius: 50px;
    }

    .secondprobtn button {
        font-size: 0.9em;
        padding: 8px 30px;
        border-radius: 50px;
    }

    .thirdprobtn button {
        font-size: 0.9em;
        padding: 8px 30px;
        border-radius: 50px;
    }

    .fourthprobtn button {
        font-size: 0.9em;
        padding: 8px 50px;
        border-radius: 50px;
    }
}

/* CONTACTS */
@media screen and (max-width: 876px) {
    #contacts {
        padding: 30px;
    }

    .conh4 {
        font-size: 2em; 
    }

    .form-container {
        padding: 0 10px; 
    }

    .namelabel, .emaillabel, .messagelabel {
        font-size: 1em; 
    }

    .textinput, .emailinput, .messagearea {
        width: 90%; 
        max-width: 100%;
        font-size: 1em;
    }

    .submit-button {
        font-size: 1em;
        border-radius: 50px;
    }

    #thank-you-message {
        font-size: 1.1em;
    }

    .thankbtn {
        font-size: 1em;
    }

    .conh4 {
        font-size: 1.4em;
    }

    .form-container {
        gap: 20px; 
    }

    .textinput, .emailinput, .messagearea {
        width: 80%; 
        font-size: 1em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .submit-button {
        font-size: 1em; 
        width: 88%;
    }

    .thankbtn {
        font-size: 0.8rem;
        color: white;
        background-color: #050a30;
        width: 88%;
        margin: 20px;
        border-radius: 50px;
        height: auto;
    }

    .thank-you-message {
        size: 0.5rem;
    }

    .end {
        background-size:cover;
        font-size: small;
    }
} 