@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }
}

@media screen and (max-width: 876px) {

PROFILE 
    #profile {
        display: flex;
        flex-direction:column-reverse;
        justify-content: center; 
        align-items: center;   
        padding: 50px;
        height: 60vh; 
        text-align: center; 
    }

    .profile-info {
        padding-bottom: 30px;
    }

    .profile-name {
        font-size: 1.2rem; 

    }

    .profile-course {
        font-size: 0.6rem;
    }

    .profiletext {
        font-size: 0.4rem; 
        text-align: center;
        padding-top: 20px, 5px;
    }

    .btn-container {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .btn {
        padding: 5px 15px; 
        font-size: 0.8em;   
        background-color: #050a30;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        width: auto; 
        text-align: center;
    }

    .socials-container {
        display: flex;
        justify-content: center;
        margin-top: 30px; 
    }

    .icon {
        width: 20px;    
        height: 20px;  
        margin: 0 10px;
    }

    .picture-container {
        display: flex;
        justify-content: center; 
        align-items: center;      
        width: 100%;             
    }

    .picture-container img {
        width: 180px;    
        height: 180px; 
        margin-top: 15px; 
        margin-bottom: 20px; 
        border-radius: 50%; 
    }

} 

@media screen and (max-width: 876px) {
    .text-with-border {
        font-size: 0.6em; 
        gap: 3px; 
    }
}

@media screen and (max-width: 600px) {
    .text-with-border {
        font-size: 0.5em; 
        gap: 6px; 
    }

    .separator {
        font-size: 1em; 
    }
}

@media screen and (max-width: 876px) {

    .techtext {
        font-size: 1.8em; 
    }

    .tech-images {
        grid-template-columns: repeat(3, 1fr); 
    }

    .tech-item img {
        width: 50px; 
    }

    .tech-item p {
        font-size: 1em; 
    }
}

@media screen and (max-width: 600px) {

    .tech-images {
        grid-template-columns: repeat(2, 1fr); 
    }

    .tech-item img {
        width: 35px; 
        height: 35px;
    }

    .techtext {
        font-size: 1.3em; 
    }

    .techtext p {
        font-size: 0.9em; 
    }

    .tech-item p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {

    .eandp {
        padding: 10px;
        flex-direction: column;
    }

    .skillphoto {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        align-items: center;
    }

    .skillimage img {
        width: 30px; 
        height: 30px;
    }

    .eductext {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .educpic {
        width: 30px; 
        height: 30px;
    }

    .educ, .educdesc {
        font-size: 0.8em; 
        padding: 1px;
    }

    .s-text {
        font-size: 1.5em; 
        margin-top: 20px;
    }

    .skillimage p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 876px) {
    .protext {
        font-size: 2em;
    }

    .prodesc {
        font-size: 1.1em;
    }

    .allpro {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media screen and (max-width: 600px) {
    .protext {
        font-size: 1.6em; 
    }

    .prodesc {
        font-size: 0.8em;
    }

    .allpro {
        grid-template-columns: 1fr; 
    }

    .allpro div {
        padding: 15px; 
    }

    button {
        font-size: 0.9em;
        padding: 8px 15px; 
    }
}

@media screen and (max-width: 876px) {


    .conh4 {
        font-size: 2em; 
    }

    .form-container {
        padding: 0 10px; 
    }

    .namelabel, .emaillabel, .messagelabel {
        font-size: 1em; 
    }

    .textinput, .emailinput, .messagearea {
        width: 90%; 
        max-width: 100%;
        font-size: 1em;
    }

    .submit-button {
        font-size: 1em;
    }

    #thank-you-message {
        font-size: 1.1em;
    }

    .thankbtn {
        font-size: 1em;
    }

    .conh4 {
        font-size: 1.4em;
    }

    .form-container {
        gap: 20px; 
    }

    .textinput, .emailinput, .messagearea {
        width: 80%; 
        font-size: 1em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .submit-button {
        font-size: 1em; 
        width: 88%;
    }

    .thankbtn {
        font-size: 1em;
        background-color: #050a30;
        width: 88%;
    }
} 