@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600&display=swap');

html, body {
    overflow-x: hidden;
    width: 100%;
}

html, body {
    height: 100%;
}

body {
    overflow-y: auto; 
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden; 
    width: 100%; 
    height: 100%; 
    overflow-y: auto;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #050a30;
}

a, 
.btn {
    transition: all 300ms ease;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content:space-between;
    align-items:center;
    height: 10vh;
    background-color: #050a30;
    padding: 0 50px; 
}   

.logo img {
    width: 20%;
    height: auto;
    padding-top: 8px;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: #050a30;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181) ;
}

/*mobile nav*/

#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: inline-block;
}

.mobile-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 24px;
    cursor: pointer;
}

.mobile-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #050a30;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 350px;
    border-radius: 20px;
}

.mobile-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 1px);
}


.mobile-icon.open span:nth-child(2) {
    opacity: 0;
}

.mobile-icon.open span:last-child {
    transform: rotate(-45deg) translate(11px, -1px);
}

.mobile-icon span:first-child {
    transform:none;
}

.mobile-icon span:first-child {
    opacity: 1;
}

.mobile-icon span:first-child {
    transform: none;
}

/*SECTION*/
#profile {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    padding: 100px;
}


.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}


.profile-info {
    max-width: 60%;
}


.profile-name {
    font-size: 3.5rem;
    font-weight: bold;
}

.profile-course {
    font-size: 1.5rem;
    color: black;
}


.profile-description {
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}


.btn-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    background-color: #050a30;
    color: white;
    border-radius: 50px;
    border: 2px solid #050a30;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    color: #050a30;
    box-shadow: 0 0 8px 3px rgba(5, 10, 48, 0.6);
}

.socials-container {
    margin-top: 30px;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.picture-container {
    max-width: 25%;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 30px #050a30; 
}

.picture-container img {
    width: 100%;
    border-radius: 50%;
    display: block;
    transition: box-shadow 0.3s ease;
}

.picture-container:hover {
    box-shadow: 0 0 50px #050a30; 
}



/*DIVIDER*/ 

  .divider {
    width: 100%; 
    overflow: hidden; 
  }
  
  .text-with-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white; 
    border-bottom: 2px solid white;
    padding: 10px 0;
    background-color: #050a30; 
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box; 
  }
  
  .text-item {
    display: inline-flex;
    color: white; 
    padding: 5px 10px;
    border-radius: 5px; 
    margin: 0 10px;
    font-size: 16px; 
    white-space: nowrap;
    flex-shrink: 1; 
  }
  
  .separator {
    display: inline-flex;
    color: white;
    padding: 0 5px;
    margin: 0 10px;
    font-size: 20px; 
  }

/*ABOUT ME*/

.start-about {
    text-align: center; 
    padding: 50px 20px; 
    background-color: #050a30;
    color: white;
}

/*TECHNOLOGIES TEXT */
.techtext {
    text-decoration: underline;
    text-underline-offset: 10px; 
    font-size: 30px; 
    margin-bottom: 20px; 
}

.technologies p {
    font-size: 14px;
    margin-bottom: 30px;
}

/* CONTAINER TECHNOLOGIES IMAGES */
.tech-images {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
}
/* TECHNOLOGIES IMAGES */
.tech-item {
    text-align: center; 
    max-width: 120px; 
}

.tech-item img {
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

/* TECHNOLOGIES IMAGE CAPTION*/
.tech-item p {
    font-size: 12px; 
    margin: 0;
}

/*EDUCATION AND SKILLS*/
.eandp {
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: space-around;
    padding: 50px 20px; 
}

/* EDUCATION */
.eductext {
    text-decoration: underline;
    text-underline-offset: 10px; 
    font-size: 30px; 
    margin-bottom: 20px; 
}

/* EDUCATION IMAGE */
.educ {
    font-size: 20px;
}

.educdesc {
    font-size: 15px;
}

.educpic {
    width: 400px; 
    height: 250px; 
    object-fit: cover;
    margin-bottom: 10px;
}

/*SKILLS*/
.s-text {
    text-decoration: underline;
    text-underline-offset: 10px; 
    font-size: 30px; 
    margin-bottom: 20px; 
}

/* SKILLS IMAGES */
.skillphoto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
}

.skillimage {
    text-align: center; 
    max-width: 180px; 
}

.skillimage img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    margin-bottom: 10px; 
}

.skillimage p {
    font-size: 15px; 
    margin: 0;
}

/* PROJECT TEXT */
#projects {
    text-align: center; 
    padding: 50px 20px; 
}

.protext {
    text-decoration: underline;
    text-underline-offset: 10px;
    font-size: 30px; 
    margin-bottom: 20px;
}

.prodesc {
    padding-bottom: 15px;
}

.allpro {
    display: flex;
    justify-content: space-evenly; 
    gap: 10px; 
    flex-wrap: wrap; 
    padding-left: 20px;
    padding-right: 20px;
}


.firstpro img, .secondpro img, .thirdpro img, .fourthpro img {
    width: 100%;           
    height: auto;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;    
}

.firstpro, .secondpro, .thirdpro, .fourthpro {
    border: 2px solid #000; 
    padding: 15px;          
    margin: 10px 0;          
    border-radius: 10px;    
    background-color: #f9f9f9; 
    width: 280px;            
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.firstpro:hover, .secondpro:hover, .thirdpro:hover, .fourthpro:hover {
    box-shadow: 0 0 20px 5px rgba(5, 10, 48, 1); 
    transform: translateY(-5px); 
}


.firstpro h4, .secondpro h4, .thirdpro h4, .fourthpro h4 {
    padding: 5px;
    font-size: 1.2rem;    
}

.firstpro p, .secondpro p, .thirdpro p, .fourthpro p {
    font-size: 1rem;
}

.probtn, .secondprobtn, .thirdprobtn, .fourthprobtn {
    text-align: center;
    margin-top: 15px; 
}


.probtn button, .secondprobtn button, .thirdprobtn button, .fourthprobtn button {
    padding: 0.6rem 1.2rem;
    margin: 0.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.probtnone, .secondprobtnone, .thirdprobtnone, .fourthprobtnone {
    background-color: #0f21aa;
    color: white;
}

.probtnone:hover, .secondprobtnone:hover, .thirdprobtnone:hover, .fourthprobtnone:hover {
    background-color: rgb(57, 78, 235);
    color: white;
}

.probtntwo, .secondprobtntwo, .thirdprobtntwo {
    background-color: #a10707;
    color: white;
}

.probtntwo:hover, .secondprobtntwo:hover, .thirdprobtntwo:hover {
    background-color: rgb(224, 68, 68);
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
}

.close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 35px;
    cursor: pointer;
    z-index: 2;
}

.prev, .next {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
    z-index: 2;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* CONTACTS */
#contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
    text-align: center;   
    padding: 30px 20px;
    background-color: #050a30;
}

.contextme {
    margin-bottom: 20px;    
}

.conh4 {
    font-size: 30px;
    font-weight: bold;
    color: #050a30;
    text-decoration: underline;
    text-underline-offset: 10px; 
    margin-bottom: 20px; 
    color: white;
}

#conform {
    padding-bottom: 50px;
}

.conemail {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

label {
    font-size: 14px;
    color: white;
    margin: 10px 0 5px;
    display: block;
}

.textinput,
.emailinput,
.messagearea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

.textinput:focus,
.emailinput:focus,
.messagearea:focus {
    border-color: #007BFF;
    outline: none;
    font-family: "Poppins", sans-serif;
}

textarea.messagearea {
    height: 150px;
    resize: vertical;
}

.submit-button {
    width: 200px;
    padding: 12px;
    font-size: 16px;
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
}

.submit-button:hover {
    background-color: rgb(31, 45, 156);
    color: white;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 1); 
}

.thankbtn {
    width: 300px;
    padding: 15px;
    font-size: 16px;
    background-color: white;
    color: #050a30;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
    height: auto;
}

.thankbtn:hover {
    background-color: #050a30;
    color: white; 
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.8);
}

.thanktext {
    padding-top: 10px;
    padding-bottom: 20px;
}

#thank-you-message {
    padding-bottom: 30%;
    color: white;
}



.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* ALERT */
.alert-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alert-content {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    position: relative;
}

.alert-icon {
    font-size: 50px;
    color: #721c24;
    margin-bottom: 10px;
}

.alert-content p {
    color: #721c24;
    font-size: 16px;
    margin-bottom: 15px;
}

.alert-content button {
    padding: 8px 16px;
    background-color: #721c24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alert-content button:hover {
    background-color: #a71d2a;
}


/*CONTACTS DOWN*/
.conbox{  
    padding: 15px;          
    margin: 10px 0;             
    width: 100%;            
    /*box-sizing: border-box;*/  
    text-align: center;     
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.infophoto {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: left;       
}

.info-img {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;  
}

.info-img img {
    width: 20px;         
    height: 20px;        
    margin-right: 5px;  
    
}

.emailinfo {
    font-size: 15px;       
    display: flex;          
    justify-content: center; 
    align-items: center;   
    text-align: center;    
    width: 100%;           
}

.emailinfo a {
    color: inherit;     
    text-decoration: none; 
    transition: text-decoration 0.3s ease;
}

.emailinfo a:hover {
    text-decoration: underline;
}

.contactinfo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* FOOTER */
.end{
    color: white;
    background-color: #050a30;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;     
    text-align: center;    
}
